{% extends "mainboard.html" %}
{% block container_wrap %}
<div id="container_wrap">
    <div class="nav">
        <a href="javascript:void(0)">路由器设置&nbsp;&gt;</a>
        <a href="javascript:void(0)">射频设置&nbsp;</a>
        <button class="return_a" onclick="change_dir('/setup')">返回</button>
    </div>
    <div class="fix_ie_shadow"></div>
    <div class="form-border-shadow">
        <div id="wireless_advance_layer" class="app-box">
            <form id="wireless_advance_frm" class="form-area" action="javascript:void(0);">
                {% raw xsrf_form_html() %}
                <div class="item">
                    <label class="form-label" id="" for="">模式</label>
                    <select id="lora_mode" name="lora_mode" style="width:148px;">
                        <option value="0">LoRa</option>
                        <option value="1">FSK</option>
                    </select>
                    <script type="text/javascript">
                        $("#lora_mode").children("option[value='{{radio.mode}}']").attr("selected", "selected");
                    </script>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">前导码</label>
                    <input type="text" maxlength="4" size="10" id="preamble" name="preamble" class="input-text input-small" style="width:130px;" value="{{radio.preamble}}">
                    <span class="word_sep">(6~65535)</span>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">扩频因子</label>
                    <select id="spread" name="spread" style="width:148px;">
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <!-- <input type="text" maxlength="4" id="wireless_RTSThreshold" size="10" name="rtsThreshold" class="input-text input-small" style="width:130px;" value="1460">
                    <span class="word_sep">(256-2347)</span> -->
                    <script type="text/javascript">
                        $("#spread").children("option[value='{{radio.sf}}']").attr("selected","selected");
                    </script>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">带宽</label>
                    <select id="base_band" name="base_band" style="width:148px;">
                        <option value="7.8">7.8</option>
                        <option value="10.4">10.4</option>
                        <option value="15.6">15.6</option>
                        <option value="20.8">20.8</option>
                        <option value="31.25">31.25</option>
                        <option value="41.7">41.7</option>
                        <option value="62.5">62.5</option>
                        <option value="125">125</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                    </select>
                    <span class="word_sep">kHz</span>
                    <script type="text/javascript">
                        $("#base_band").children("option[value='{{radio.bw}}']").attr("selected","selected");
                    </script>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">编码率</label>
                    <select id="program_ratio" name="program_ratio" style="width:148px;">
                        <option value="5">4/5</option>
                        <option value="6">4/6</option>
                        <option value="7">4/7</option>
                        <option value="8">4/8</option>
                    </select>
                    <script type="text/javascript">
                        $("#program_ratio").children("option[value='{{radio.cr}}']").attr("selected","selected");
                    </script>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">频点</label>
                    <input type="text" maxlength="4" size="10" id="frequency" name="frequency" class="input-text input-small" style="width:130px;" value="{{radio.frequency}}">
                    <span class="word_sep">(137MHz~175MHz,410MHz~525MHz)</span>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">CRC开关</label>
                    <div class="radio_form radio_off" id="crc_enable" onclick="radio_toggle(this);change_crc_enable();"></div>
                    <input type="hidden" name="crc_enable_value" id="crc_enable_value" value="0">
                    <script type="text/javascript">
                        function change_crc_enable() {
                            if ($("#crc_enable").hasClass("radio_on")) {
                                $("#crc_enable_value").val("1");
                            }
                            else {
                                $("#crc_enable_value").val("0");
                            }
                        }
                    </script>
                </div>
                <div class="item">
                    <label class="form-label" id="">功率</label>
                    <input type="text" maxlength="4" size="10" id="power" name="power" class="input-text input-small" style="width:130px;" value="{{radio.power}}">
                    <span class="word_sep">(+5dBm~+17dBm)</span>
                </div>
                <div class="item">
                    <label class="form-label" id="" for="">同步字</label>
                    <input type="text" maxlength="16" size="10" id="sync" name="sync" class="input-text input-small" style="width:130px;" value="{{radio.sync}}">
                </div>
                <div class="item opt">
                    <input type="hidden" name="action" value="1">
                    <input type="submit" class="btn submit_btn btn_confirm" onclick="developer_set()" value="确定">
                </div>

               <!--  <div class="item" style="display: none">
                    <label class="form-label" id="lbl_p_plus" for="">P++信号增强</label>
                    <div class="radio_form radio_on" id="p_plus" onclick="radio_toggle(this);"></div>
                    <input type="hidden" id="p_plus_hidden" value="1">
                </div>
                <div class="item">
                    <label class="form-label" id="lbl_boa_deny_switch" for="">安全访问开关</label>
                    <div class="radio_form radio_off" id="boa_deny_switch" onclick="radio_toggle(this,'deny_switch_set');"></div>
                    <input type="hidden" name="enable" id="boa_deny_switch_hidden" value="0">
                    <input type="hidden" id="deny_switch_old" value="0">
                </div>
                <div class="item section_hide" id="deny_ip_layer">
                    <label class="form-label" id="lbl_deny_ip" for="">指定IP登陆管理界面</label>
                    <input type="text" style="width:130px;" class="input-text input-small" name="ip" id="deny_ip" maxlength="15" autocomplete="off" value="0.0.0.0">
                    <span id="ip_not_same_segment_tip"></span>
                    <input type="hidden" id="deny_ip_old" value="0.0.0.0">
                    <input type="hidden" id="user_ip" value="192.168.100.7">
                </div>
                <div class="item">
                    <label class="form-label" id="lbl_plugins_enable">第三方插件开关</label>
                    <div class="radio_form radio_off" id="plugins_enable" onclick="set_plugins_dialog(this);"></div>
                    <input type="hidden" id="plugins_enable_hidden" value="0">
                </div>
                <div class="item opt">
                    <input type="hidden" name="action" value="1">
                    <input type="submit" class="btn submit_btn btn_confirm" onclick="developer_set()" value="确定">
                </div> -->
            </form>
        </div>
    </div>
</div>
{% end %}